services:
  form_app:
    image: line_bot
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "5678:5678"
    command: ["uv", "run", "gunicorn", "-w", "1", "-b", "0.0.0.0:5678", "form_app.app:app"]