{% extends "base.html" %}

{% block title %}
Confirm
{% endblock %}

{% block content %}


<div class="px-4 py-5 my-5 text-center"> <img class="d-block mx-auto mb-4"
        src="{{ url_for('static', filename='images/crocodile-svgrepo-com.svg') }}" alt="" width="144" height="114">
    <h1 class="display-5 fw-bold text-body-emphasis">{{ header }}</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{ message|safe }}</p>
        <form method="post" action="{{ url_for(session['action']) }}">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"> <button type="submit"
                    class="btn btn-primary btn-lg px-4 gap-3">{{ btn_name }}</button>
            </div>
        </form>

    </div>
    {% endblock %}