{% extends "base.html" %}

{% block title %}
選擇約會地點與時間
{% endblock %}

{% block content %}
<h2 class="card-title mb-4 text-center">請選擇對方挑的地點與時間</h2>

<form method="post" action="{{ booking_url }}" class="mb-5">
    <div class="mb-4">
        <h5>地點：</h5>
        <div class="list-group">
            <label class="list-group-item d-flex align-items-center">
                <input class="form-check-input me-2" type="radio" name="selected_place" value="{{ place1_url }}"
                    required>
                <div class="flex flex-grow-1 justify-center">
                    <a href="{{ place1_url }}" target="_blank" class="text-decoration-none ">第一家餐廳</a>
                </div>
            </label>
            {% if place2_url %}
            <label class="list-group-item d-flex align-items-center">
                <input class="form-check-input me-2" type="radio" name="selected_place" value="{{ place2_url }}"
                    required>

                <div class="flex flex-grow-1 justify-center">
                    <a href="{{ place2_url }}" target="_blank" class="text-decoration-none">第二家餐廳</a>
                </div>
            </label>
            {% endif %}
        </div>
    </div>

    <div class="mb-4">
        <h5>時間：</h5>
        <div class="list-group">
            <label class="list-group-item d-flex align-items-center">
                <input class="form-check-input me-2" type="radio" name="selected_time" value="{{ time1 }}" required>
                <span class="flex-grow-1">{{ time1 }}</span>
            </label>
            <label class="list-group-item d-flex align-items-center">
                <input class="form-check-input me-2" type="radio" name="selected_time" value="{{ time2 }}">
                <span class="flex-grow-1">{{ time2 }}</span>
            </label>
            <label class="list-group-item d-flex align-items-center">
                <input class="form-check-input me-2" type="radio" name="selected_time" value="{{ time3 }}">
                <span class="flex-grow-1">{{ time3 }}</span>
            </label>
        </div>
    </div>

    {% if comment %}
    <div class="mb-4">
        <h5>對方的留言：</h5>
        <div class="alert alert-secondary" role="alert">
            {{ comment }}
        </div>
    </div>
    {% endif %}

    <div class="flex flex-col gap-2 items-stretch">
        <button type="submit" class="btn btn-primary btn-lg px-4">確認選擇</button>
        {% if cannot_url %}
        <a href="{{ cannot_url }}" class="btn btn-outline-danger btn-lg px-4">時間或地點不行</a>
        {% endif %}
        {% if bye_bye_url %}
        <a href="{{ bye_bye_url }}" class="btn btn-outline-danger btn-lg px-4"
            onclick="return confirm('確定要拒絕嗎？這將結束此次配對流程。');">仍然不行</a>
        {% endif %}
    </div>
</form>
{% endblock %}