{% extends "base.html" %}

{% block title %}
選擇約會地點與時間
{% endblock %}

{% block content %}

<form method="post" action="{{ booking_url }}" class="mb-5">
    <div class="mb-4">
        <h5>地點</h5>
        <div class="list-group">
            {% for place in places %}
            {% if place %}
            <label class="list-group-item d-flex align-items-center shadow-sm rounded-3 mb-2"
                style="background: #f8f9fa;">
                <input class="form-check-input me-2" type="radio" name="selected_place" value="{{ place }}" required
                    style="transform: scale(1.3);">
                <div class="flex flex-grow-1 justify-center">
                    <span>第{{ loop.index }}家餐廳</span>
                    <span class="ms-2 text-secondary" style="font-size: 0.95em; font-weight: 400;">
                        <a href="{{ place }}" target="_blank" class="text-decoration-none">(連結)</a>
                    </span>
                </div>
            </label>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="mb-4">
        <h5>日期</h5>
        <div class="list-group">

            {% for date in dates %}
            {% if date %}
            <label class="list-group-item d-flex align-items-center shadow-sm rounded-3 mb-2"
                style="background: #f8f9fa;">
                <input class="form-check-input me-2" type="radio" name="selected_date" value="{{ date }}" required
                    style="transform: scale(1.3);">
                <span class="flex-grow-1">{{ date }}</span>
            </label>
            {% endif %}
            {% endfor %}

        </div>
    </div>

    {% if comment %}
    <div class="mb-4">
        <h5>對方的留言：</h5>
        <div class="alert alert-secondary" role="alert">
            {{ comment }}
        </div>
    </div>
    {% endif %}

    <div class="flex flex-col gap-2 items-stretch">
        <button type="submit" class="btn btn-primary btn-lg px-4">確認選擇</button>
        {% if cannot_url %}
        <a href="{{ cannot_url }}" class="btn btn-outline-danger btn-lg px-4">時間或地點不行</a>
        {% endif %}
        {% if bye_bye_url %}
        <a href="{{ bye_bye_url }}" class="btn btn-outline-danger btn-lg px-4"
            onclick="return confirm('確定要拒絕嗎？這將結束此次配對流程。');">仍然不行</a>
        {% endif %}
    </div>
</form>
{% endblock %}